<div class="main top-main">
  <div class="top-message">
  <h2>Hikkakatter</h2>
  <h3>~ﾋｯｶｶｯﾀｰ~</h3>
  <p>食事で健康になりたい全ての方へ</p>
  </div>

  <div class="top-about">
   <div class="top-about-m">
    <p>ヒッカカッターは、検査でひっかかった、ちょっと体重が気になる、綺麗になりたい... そんな人たちが健康的な食事を身につけるためのアプリです。</p>
   </div>
   <a href= "home/about">Hikkakatterをもっと詳しく</a>
  </div>

  <div class="top-kcal">
  </div>

  <div class="top-record">
  </div>

  <div class="top-exam">
  <table>
      <tbody>
        <% @exams.each do |exam| %>
          <tr class="top_exam_table">
            <td><%= exam.exam_item %></td>
            <td><%= exam.exam_purpose %></td>
            <td><%= link_to "アドバイスをみる", exam %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  

  <div class="top-thought">
  </div>

  <% if user_signed_in? %>
   <p><%= link_to "新規投稿", :new_exam, class:'top-link' %></p>
   <p><%= link_to "投稿履歴", :exams, class:'top-link' %></p>
   <p><%= link_to "予約一覧", :reserves, class:'top-link' %></p>
   <p><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class:'top-link' %></p>
  <% else %>
   <p><%= link_to "ログイン", new_user_session_path, class: 'top-link' %></p>
   <p><%= link_to "新規登録", new_user_registration_path, class: 'top-link' %></p> 
 <% end %>

</div>
