<div class="main top-main">
  <div class="top-message">
    <h2>からだは食事でできている</h2>
    <p>ひっかかったら相談だ！</p>
  </div>

  <% if user_signed_in? %>
  <h4> メールアドレス： <%= current_user.email %> </h4>
   <%= link_to "検査項目", :exams %>
   <p><%= link_to "新しい項目の追加", :new_exam %></p>
   <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% else %>
   <%= link_to "ログイン", new_user_session_path, class: 'post' %> 
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> 
 <% end %>
</div>