<div class="top-main">
  <div class="top-message">
  <h2>Hikkakatter</h2>
  <h3>~ﾋｯｶｶｯﾀｰ~</h3>
  <p>食事で健康になりたい全ての方へ</p>
  </div>

  <div class="top-about">
  <div class="top-title" >Hikkakatterとは</div> 
  <div class="top-about-m">
    <p>ヒッカカッターは、検査でひっかかった、ちょっと体重が気になる、綺麗になりたい... そんな人たちが健康的な食事を身につけるためのアプリです。</p>
   </div>
   <a href= "home/about">Hikkakatterをもっと詳しく</a>
  </div>

  <div class="top-kcal">
  <div class="top-title" >自分に必要なエネルギー量(カロリー)を知る</div>
  <p><%= link_to "カロリーを計算する", :new_kcal, class:'top-link' %></p>
  </div>

  <div class="top-restaurant">
  <div class="top-title" >おすすめのお店をさがす</div>
  <p><%= link_to "お店をさがす", :restaurants, class:'top-link' %></p>
  <% if user_signed_in? %>
  <p><%= link_to "店舗情報新規登録", :new_restaurant, class:'top-link' %></p>
  <p><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class:'top-link' %></p>
  <% else %>
  <p><%= link_to "ログイン", new_user_session_path, class: 'top-link' %></p>
  <p><%= link_to "新規登録", new_user_registration_path, class: 'top-link' %></p> 
  <% end %>
  </div>

  <div class="top-exam">
  <div class="top-title" >検査から調べる</div>
  <p><%= link_to "検査項目からさがす", :search_exams, class:'top-link' %></p>
  <% if user_signed_in? %>
  <p><%= link_to "アドバイスを投稿する", :new_exam, class:'top-link' %></p>
  <p><%= link_to "投稿履歴", :exams, class:'top-link' %></p>
  <p><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class:'top-link' %></p>
  <% else %>
  <p><%= link_to "ログイン", new_user_session_path, class: 'top-link' %></p>
  <p><%= link_to "新規登録", new_user_registration_path, class: 'top-link' %></p> 
  <% end %>
  </div>  

  <div class="top-reserve">
  <div class="top-title" >個別相談のスケジュールを確認する</div>
  <% if user_signed_in? %>
   <p><%= link_to "予約一覧", :reserves, class:'top-link' %></p>
   <p><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class:'top-link' %></p>
  <% else %>
   <p><%= link_to "ログイン", new_user_session_path, class: 'top-link' %></p>
   <p><%= link_to "新規登録", new_user_registration_path, class: 'top-link' %></p> 
  <% end %>
  </div>

  <div class="top-thought">
  <div class="top-title" >Hikkakatterへの想い</div>
  </div>

</div>