<div class="page-top">
<h3>お店情報</h3>
</div>
   
   <table>
      <tr> 
        <td><%= image_tag @restaurant.store_image , :size =>'300x300' %></td>
      </tr>
      <tr>
        <th>店舗名</th>
        <td><%= @restaurant.store_name %></td>
      </tr>
      <tr>
        <th>所在地</th>
        <td><%= @restaurant.address %></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= @restaurant.genre %></td>
      </tr>
      <tr>
        <th>価格帯</th>
        <td><%= @restaurant.price %></td>
      </tr>
    </table>
 
    <div>
      <ul>
        <li><%= link_to "一覧に戻る", :restaurants %></li>
      </ul>
    </div>


    <h3>口コミを書く</h3>
 
    <%= form_with model: @mouth do |f| %>
      <table>
        <tr>
          <th><%= f.label :mouth_title ,"タイトル" %></th>
          <td><%= f.text_field :mouth_title %></td>
        </tr>
        <tr>
          <th><%= f.label :mouth_contents ,"内容" %></th>
          <td><%= f.text_area :mouth_contents %></td>
        </tr>
        
      </table>
      <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
      <div>
        <ul>
          <li><%= f.submit "口コミを書く"%></li>
        </ul>
      </div>
    <% end %>