<div class="page-top">
  <p>検査項目を詳しくみる</p>
</div>
 
    <table class="show_table" >
      <tr> 
        <th> </th>
        <td><%= image_tag @exam.exam_image , :size =>'500x400' %></td>
      </tr>
      <tr>
        <th>検査項目</th>
        <td><%= @exam.exam_item %></td>
      </tr>
      <tr>
        <th>検査目的</th>
        <td><%= @exam.exam_purpose %></td>
      </tr>
      <tr>
        <th>食事・生活アドバイス</th>
        <td><%= @exam.exam_advice %></td>
      </tr>
    </table>


    <div class="page-top">
     <h3>個別相談の予約はこちら！</h3>
    </div>

    <div class="reserve" >
    <%= form_with model: @reserve do |f| %>
      <table class="show_table" >
        <tr>
          <th><%= f.label :reserve_time ,"予約日時" %></th>
          <td><%= f.datetime_select :reserve_time %></td>
        </tr>
      </table>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :exam_id, value: @exam.id %>
      <div>
        <%= f.submit "予約" , class: "reserve_button" %>
      </div>
    <% end %>
    </div>
