<!DOCTYPE html>
<html>
  <head>
    <title>Hikakatter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
  <div class="header-logo">
    <a href="/">Hikakatter</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="home/about">Hikakatterとは</a>
    </li>
  </ul>
  <% if user_signed_in? %>
  <h4> メールアドレス： <%= current_user.email %> </h4>
  <%= link_to "検査項目", :exams %>
  <p><%= link_to "検査アドバイス新規登録", :new_exam %></p>
  <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> 
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> 
<% end %>
</header>
    <%= yield %>
  </body>
</html>
