<!DOCTYPE html>
<html>
  <head>
    <title>Hikkakatter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header class="header">
  <div class="header-logo">
    <a href="/">Hikkakatter</a>
  </div>
　</header>
    <%= yield %>
  </body>
</html>