<!DOCTYPE html>
<html>
  <head>
    <title>Hikakatter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
  <div class="header-logo">
    <a href="/">Hikakatter</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="home/about">Hikakatterã¨ã¯</a>
    </li>
  </ul>
</header>
    <%= yield %>
  </body>
</html>
